body { 
  background-color : rgba(0, 0, 0, 0.95);
  color            : white;
  margin: 0;
  padding: 0;
}

:root {
  --tooLightPurple: rgb(175, 2, 175);
  --lightPurple: rgb(120, 0, 120);
  --darkPurple: rgb(53, 1, 53);
  --perfectWhite: hwb(0 82% 0%);
}


/* -------------------------------------------------------------------------------- */
/* The Opening Page */
.openingPage {
  position: absolute;
  font-family: 'Special Elite', cursive;
  border-radius: 7px;
  /* Center it */
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  height: 60vh;
  width: 70vw;
  background-color: rgb(53, 67, 29);
}

.openingPage .openingHeader {
  padding: 0.3rem;
  margin: 2rem;
}

.openingPage .openingHeader h1 {
  text-align: center;
  font-size: clamp(.6rem,8vw,3rem);
}

.options  {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  /* border: 4px solid brown; */
  height: 40%;
}
.options div {
  display: flex;
  justify-content: center;
  height: 60%;
  /* border: 3px solid blue; */
}

.options div button {
  height: 90%;
  width: 90%;
}

/* CREATE THE SINGLE PLAYER FORM PAGE STYING */
.openingPage .singleDiv {
  background-color: rgb(53, 1, 53);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  /* border: 2px solid orange; */
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.openingPage .singleDiv label {
  color: #d1c4e9;
  font-size : clamp(0.8rem, 4.3vw, 2rem);

}

.openingPage .singleDiv input {
  width: clamp(5rem, 40vw, 20rem);;
}

.openingPage button {
  background-color: var(--lightPurple);
  color: #000000;
  font-size : clamp(0.3rem, 7vw, 2rem);

  transition: font-size 0.2s, padding 0.2s;
}

.openingPage button:hover,
.openingPage button:active {
  background-color: var(--tooLightPurple);
  color: var(--perfectWhite);
  cursor: pointer;

  /* padding: 1.4rem; */
  font-size: clamp(0.5rem, 9vw, 2.2rem);
}

.openingPage  button {
  height: 4rem;
  width: 10rem;
  border-radius: 0.5rem;

}

/* CREATE THE MULTI-PLAYER FORM PAGE STYING */
.openingPage .multiDiv {
  background-color: var(--darkPurple);
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.openingPage .multiDiv div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.openingPage .multiDiv label {
  /* border: 4px solid black */
}
.openingPage .multiDiv input {
  /* border: 4px solid black */
}
.openingPage .multiDiv button {
  /* border: 4px solid black */
}


/* -------------------------------------------------------------------------------- */



/* Desing the game class */
.game {
  border-bottom: 5px solid rgb(0, 132, 255);
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
}

/* The Header: */
.gameHeader {
  /* border: 2px solid purple; */
  background-color: rgba(0, 0, 0, 0.783);
  width: 100%;
  font-family: 'Press Start 2P', cursive;
}

.gameHeader h1 {
  text-align: center;
  font-size: 3rem;
}

/* Player's Paragraph */
.game .players {
  display: flex;
  gap: 10vw;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
}


/* Replay Button */
.game .replay {
  /* border: 3px solid green; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game .replay button {
  display: none;
  height: 4rem;
  width: 10rem;
  border-radius: 0.5rem;
  background-color: rgb(255, 166, 0);
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.3rem;
  margin-bottom: 4rem;
}

.game .replay button:hover {
  background-color: rgb(255, 247, 0);
  cursor: pointer;
}


/* Create the gameboard */
.gameBoard {
  margin          : 2rem auto 0 auto;
  color           : black ;
  display         : grid;
  border-left     : 10px solid rgba(80, 80, 80, 0.396);
  border-top      : 10px solid rgba(80, 80, 80, 0.396);
  gap             : .8rem;
  border-radius   : 5px;
  grid-template   : repeat(3,6rem) / repeat(3,6rem);
  width           : fit-content;
}

.gameBoard div{
  border-radius   : 10px;
  display         : flex;
  justify-content : center;
  align-items     : center;
  height          : 6rem;
  width           : 6rem;
  background      : beige;
  font-size       : 3.5rem;
  /* font-family: 'Press Start 2P', cursive; */
  font-family     : 'Permanent Marker', cursive;
}

.gameBoard div p {
  height     : 5rem;
  width      : 5rem;
  text-align : center;
  transition : font-size 2s,background-color 2s,height 2s,width 2s;
}

.gameBoard div:hover {
  background      : rgba(245, 245, 220, 0.717);
}

.gameBoard div p:active {
  background-color: aqua;
  height     : 7rem;
  width      : 7rem;
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: black;
  height: 2rem;
}

/* All buttons will have the same font-family */
button {
  font-family: 'Permanent Marker', cursive;
}



.animate  {
  animation: 2s anim-popoutin ease 1;
}

@keyframes anim-popoutin {
  0% {
    color: black;
    transform: scale(0);
    opacity: 0;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  25% {
    color: rgb(0, 255, 234);
    transform: scale(2);
    opacity: 1;
    text-shadow: 3px 10px 5px rgba(0, 0, 0, 0.5);
  }
  50% {
    color: black;
    transform: scale(1);
    opacity: 1;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    /* animate nothing to add pause at the end of animation */
    transform: scale(1);
    opacity: 1;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
  }
}



/* AI ANIMATION: */
.animate-computer  {
  animation: 4s anim-computer ease 1;
}

@keyframes anim-computer {
  0% {
    color: black;
    transform: scale(0);
    opacity: 0;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }

  10% {
    color: black;
    transform: scale(1);
    opacity: 0;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0.5);
  }

  25% {
    color: red;
    transform: scale(2);
    opacity: 1;
    text-shadow: 3px 10px 5px rgba(0, 0, 0, 0.5);
  }
  50% {
    color: black;
    transform: scale(1);
    opacity: 1;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    /* animate nothing to add pause at the end of animation */
    transform: scale(1);
    opacity: 1;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
  }
}

